div.loading {
  -moz-animation: loading 1s linear 0s 1 normal;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

div.loading > .ln {
  -moz-animation: loading-ln 1s linear 0s 1 normal;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
}

div.loading > .bg {
  -moz-animation: loading-bg 1s linear 0s 1 normal;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
}

@-moz-keyframes loading {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@-moz-keyframes loading-ln {
  0% {
    width: 0%;
    height: 2px;
    background-color: rgba(255,0,0,255);
  }
  40% {
    width: 80%;
    height: 2px;
    background-color: rgba(255,0,0,255);
  }
  50% {
    width: 100%;
    height: 2px;
    background-color: rgba(255,0,0,255);
  }
  70% {
    width: 100%;
    height: 1px;
    background-color: rgba(255,0,0,255);
  }
  90% {
    width: 100%;
    height: 0px;
    background-color: rgba(255,0,0,255);
  }
  100% {
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,0);
  }
}

@-moz-keyframes loading-bg {
  0% {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,255);
  }
  70% {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,255);
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
  }
}